<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>JugglersSocialNetwork</title>
    <link rel="stylesheet" type="text/css" href="../css/maincss.css">
</head>
<body class="body">
<p class="mainBlock">
    <span class="name">
        <span>
            <input type="text" name="name" form="editingPattern" placeholder="name" th:value="${nameOfPattern}">
            <input type="text" name="siteswap" form="editingPattern" placeholder="siteswap" th:value="${siteswapText}">
        </span>
        <a href="/admin_workspace">back</a>
    </span>
    <span class="bigBlock">
		<span class="siteswap" th:utext="${siteswapAnim}"></span>
		<span class="description">
            <input type="text" name="description" form="editingPattern" placeholder="description" th:value="${description}">
        </span>
	</span>
    <input type="submit" form="editingPattern">
</p>
<form id="editingPattern" th:action="'/editingPattern/id' + ${id}"></form>
</body>
</html>