<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>JugglersSocialNetwork</title>
    <link rel="stylesheet" type="text/css" href="/templates/css/maincss.css">
</head>
<body class="body">
<span class="blockWithLinks">
		<a href="/authorization">my profile</a><br>
		<a href="/conversations">conversations</a><br>
		<a href="/search">search</a><br>
		<a href="/help">help</a><br>
		<a href="/singOut">sing out</a><br>
	</span>
<p class="mainBlock">
	<span class="name" th:text="'Pattern ' + ${nameOfPattern}">Pattern</span>
    <span class="bigBlock">
		<span class="siteswap" th:utext="${siteswap}">
			
		</span>
		<span class="description" th:text="${description}"></span>
	</span>
</p>
</body>
</html>