<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>JugglersSocialNetwork</title>
	<link rel="stylesheet" type="text/css" href="../css/maincss.css">
</head>
<style>
.editingProfile{
	display: none;
	float: right;
	width: 100px;
	margin-right: -110px;
}
.smalBlock{
	display: block;
	float: right;
	height: 10px;
	width: 10px;
	background-color: green;
}
.smalBlock:hover + .editingProfile{
	display: block;
}
.editingProfile:hover{
	display: block;
}
</style>
<body class="body">
	<span class="blockWithLinks">
		<a href="/authorization">my profile</a><br>
		<a href="/conversations">conversations</a><br>
		<a href="/search">search</a><br>
		<a href="/help">help</a><br>
		<a href="/singOut">sing out</a><br>
	</span>
	<p class="mainBlock">
		<span class="name" th:utext="'Juggler ' + ${name}"></span>
		<span class="name" th:utext="'Patterns: ' + ${patterns}"></span>
		<span th:utext="${changeFunction}"></span>
		<span class="bigBlock" th:utext="${patternsTree}"></span>
	</p>
	
<form id="editing" action="/editing"></form>
    <script th:text="${script}">

    </script>
</body>
</html>