<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>JugglersSocialNetwork</title>
	<link rel="stylesheet" type="text/css" href="../css/maincss.css">
</head>
<body class="body">
	<span class="blockWithLinks">
		<a href="/authorization">my profile</a><br>
		<a href="/conversations">conversations</a><br>
		<a href="/search">search</a><br>
		<a href="/help">help</a><br>
		<a href="/singOut">sing out</a><br>
	</span>
	<p class="mainBlock">
		<span class="name" th:utext="'Juggler ' + ${name}"></span>
		<span class="patternsTree" th:utext="${patternsTree}">
			<svg xmlns="http://www.w3.org/2000/svg" version="1.1"
				 viewBox="0 0 500 500" preserveAspectRatio="xMaxYMax none">
				<line x1="50%" y1="0" x2="20" y2="20" stroke="black"></line>
				<text x="10" y="30"><a href="/login">lol lol</a></text>
			</svg>
		</span>
	</p>
	
</body>
</html>