<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>JugglersSocialNetwork</title>
    <link rel="stylesheet" type="text/css" href="../../css/maincss.css">
</head>
<body class="body">
<span class="blockWithLinks">
		<a href="/authorization">my profile</a><br>
		<a href="/conversations">conversations</a><br>
		<a href="/search">search</a><br>
		<a href="/help">help</a><br>
		<a href="/singOut">sing out</a><br>
	</span>
<p class="mainBlock">
	<span class="name">Search</span>
    <span class="bigBlock">
		<span>
			<input type="text" name="name" form="search" placeholder="name">
			<input type="text" name="surname" form="search" placeholder="surname">
			<input type="submit" form="search">
		</span><br>
		<span th:utext="${list_of_users}"></span>
	</span>
</p>
<form id="search" action="/search"></form>
</body>
</html>